<h2>TUS LIBROS</h2>

<div class="id-input">
    <div class="col-md-6">
        <!-- <label for="inputEmail4" class="form-label">Id del libro</label> -->
        <input type="number" class="form-control" id="inputEmail4" placeholder="id del libro" #id_libr>
        <button type="button" class="btn btn-primary" (click)= mostrarLibro(id_libr)> BUSCAR </button>
    </div>
</div>

<div class="general">  

    <ng-container *ngFor="let libro of mislibros; let i = index" >

        <div  class="card" style="width: 18rem;" >
            <img src={{libro.photo}} class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{libro.titulo}}</h5>
            <p class="card-text">{{libro.tipoLibro}} <br> {{libro.autor}} <br> {{libro.precio}} <br> {{libro.Id_libro | mostrarCodigo}} <br></p>
            <a [ngClass]="i%2==0 ? 'btn-success' : 'btn-primary' " href="#" class="btn btn-primary">Comprar</a>
            <button type="button" class="btn btn-danger" (click)= borrarLibro(libro.Id_libro)> X </button>

        </div>
        </div>

    </ng-container>
</div>

<div *ngIf="mislibros.length === 0">
    No hay libros en la lista.
</div> 




